#header {
    background-color: #fff;
    height: 65px;
    left: 0;
    position: fixed;
    border-bottom: 3px solid #F44E50;
    top: 0;
    width: 100%;
    z-index: 100;
    opacity: .95;
    transition: all .15s linear;
}

@media only screen and (min-width: 1200px) {
    #header.container {
        width: 1170px;
    }
}

#header .container {
    margin: auto;
    position: relative;
    height: 100%;
}

#header .container .logo {
    width: 110px;
    padding-left: 15px;
    height: 65px;
    float: left;
}

#header .container .logo img {
    max-width: 100%;
    margin-top: 15px;
}

#header .container .nav {
    float: right;
    height: 65px;
}

#header .container .nav ul {
    list-style-type: none;
}

#header .container .nav ul li {
    float: right;
    padding: 15px 0;
    line-height: 33px;
    margin-right: 20px;
}

#header .container .nav ul li a {
    color: #8b8b8b;
    display: block;
    padding: 0 15px;
}

#header .container .nav ul li a:hover {
    color: #F44E50;
    text-decoration: none;
}

#header .container .nav ul .search {
    margin-left: 15px;
    margin-right: 0;
}

#header .container .nav ul .search .dropdownOpen {
    font-size: 27px;
    line-height: 36px;
}

#header .container .nav ul .login a {
    border: 1px solid #2F9599;
    background: #2F9599;
    color: #fff;
    border-radius: 5px;
    display: block;
    padding: 0 15px;
}

#header .container .nav ul .login a:hover {
    color: #fff !important;
    background: #196C6F;
}

#hambugBtn {
    font-size: 27px;
    line-height: 36px;
    display: none;
    color: #F44E50;
}

#header .container .search-mobile {
    font-size: 27px;
    line-height: 36px;
    display: none;
    color: #F44E50;
}

@media screen and (max-width: 995px) {
    #header .container .logo {
        position: absolute;
        left: 50%;
        margin-left: -60px;
        float: none;
    }
    #header .container .nav {
        display: none;
    }
    #hambugBtn {
        display: block;
        float: left;
        margin-top: 10px;
    }
    #header .container .search-mobile {
        display: block;
        float: right;
        margin-top: 10px;
    }
}

.dropdown-content {
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.search-input-container .search-input {
    flex-grow: 1;
    background: #fff;
    font-size: 16px;
    padding: 0 20px;
    color: #444;
    margin: 0;
    border-radius: 0;
    height: 48px;
    line-height: 48px;
    outline: 0;
    border: 0;
    width: 100%;
}

.search-input-container .search-button {
    background: #f1f1f1;
    line-height: 48px;
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    margin: 0;
    height: 48px;
    text-transform: uppercase;
    border: none;
    padding: 0 20px;
    float: right;
}

#menu-mobile ul {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 0;
}

#menu-mobile ul li {
    padding: 10px 10px 10px 10px;
}

#menu-mobile ul li a {
    color: #444;
}

#menu-mobile ul li a:hover {
    text-decoration: none;
}

#menu-mobile ul li:hover {
    background-color: gray;
}

@media screen and (min-width: 995px) {
    #menu-mobile {
        display: none;
    }
}